<form class="content" action="action_page.php" method="post">
      <label class="text" for="uname"><b>Username</b></label
      ><br />
      <input class="input" type="text" placeholder="Enter Username" name="uname" required/>
      <br /><br />
      <label class="text" for="psw"><b>Password</b></label
      ><br />
      <input class="input" type="password" placeholder="Enter Password" name="psw" required/>
      <br /><br /><br />
      <label>
        <input class="check" type="checkbox" checked="checked" name="remember" />
        Remember me
      </label>
    <div>
      <button class="login" type="submit">Login</button>&nbsp;&nbsp;
      <button class="cancel" type="button">Cancel</button>
    </div>  
</form>
