.App {
  margin-top: 0px;
  padding-top: 0px;
}

.head {
  padding: 10px 10px;
  margin-bottom: 0px;
  background-color: #282c34;
  align-items: left !important;
  font-weight: 900; 
  color: rgb(72, 212, 255); 
  font-size: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    padding-bottom: 79px;
  }
}

.App-div {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  width: 80%;
  padding: 10px 10px 10px 20px;
  font-size: 30px;
  color: rgb(67, 219, 253);
  border-radius: 30px;
  background-color: black;
  text-decoration-color: blue;
}

.lower {
  margin-top: 50px;
}

.login {
  font-size: 24px;
  padding: 13px 50px;
  background-color: #f19e3f;
  font-weight: 900;
  color: black;
  border-radius: 30px;
  cursor: pointer;
}

.reg {
  font-size: 24px;
  padding: 13px 30px;
  background-color: #050505;
  font-weight: 900;
  color: #f19e3f;
  border-radius: 30px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
